@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1268px; } 
  }

.bg-white {
  background-color: #ffff !important
}
@media screen and (min-width: 1400px) {
  .bg-white {
    background-color: #fdfdfd !important
  }
}

.image {
  width: 93px;
  height: 93px
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat'; 
  line-height: 26px;
  font-size: 16px; }

h1 {
  color: #171D24;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 1.5rem; }

h2 {
  color: #23A5D6;
  font-weight: 600;
  font-size: 30px; }

h4 {
  font-size: 22px;
  line-height: 30px;
  }

p {
  color: #6e7176;
  font-weight: 300; 
  font-size: 18px;
  }
.text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  line-height: 20px
}

.container-one {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
  top: 32%;
  left: 50%;
  position: absolute;
}

.blue {
  color: #23A5D6; }

.btn {
  padding: 11px 40px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px; 
  }
  .btn.btn-blue {
    background: #23A5D6;
     }
    .btn.btn-blue:hover {
      background: #171D24;
      color: #23A5D6; }
  .btn.btn-black {
    background: #171D24;
    position: relative; }
    .btn.btn-black:hover {
      background: #23A5D6;
      color: #171D24; }
  .btn.btn-white {
    background: #fff;
    color: #171D24; }
    .btn.btn-white:hover {
      background: #23A5D6;
      color: #fff; }

/* HEADER */
.header-logo {
  height: 45px
}
header .main-header {
  padding-top: 1rem;
}
header .main-header .column-section {
  min-height: 100px;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  }
header .language {
  display: flex;
  justify-content: flex-end;
}

  header .language .btn {
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    color: #171D24;
    background: none;
    border: 0;
    padding: 5px 13px; }
  header .language ul {
    padding: 10px;
    border-radius: 8px;
    min-width: 6rem !important;
    margin-left: -5px !important; }
    header .language ul li a {
      padding: 0 10px 0 25px; }
      header .language ul li a:nth-child(even) {
        background-color: #00000026; }
      header .language ul li a.cn {
        background: url("./public/languages/zh.png") no-repeat center left; }
      header .language ul li a.pt {
        background: url("./public/languages/pt-pt.png") no-repeat center left; }
      header .language ul li a.es {
        background: url("./public/languages/es.png") no-repeat center left; }
      header .language ul li a.en {
        background: url("./public/languages/en.png") no-repeat center left; }
  header .dropdown-menu {
    display: block;
    min-height: auto;
  }
  header .dropdown-menu li::before {
    content: '';
  }

footer {
  padding-top: 485px;
  background: url("./public/blue-line.png") no-repeat top; }
  footer hr {
    width: 100%;
    margin-right: 30px !important;
    margin-left: 15px !important; }
  footer .contact-column-1 .contacts_icon {
    
    padding-top: 30px; }
    footer .contact-column-1 .contacts_icon img {
      margin-bottom: 15px; }
    footer .contact-column-1 .contacts_icon .title {
      font-size: 17px;
      font-weight: 600;
      color: #23A5D6;
      line-height: 26px; }
    footer .contact-column-1 .contacts_icon .text > a{
      font-size: 16px; font-weight: 100; text-decoration: none; color:black}
      footer .contact-column-1 .contacts_icon .text:hover > a{
        color:#23A5D6
      }
  footer .contact-column-2 p {
    padding-bottom: 40px; }
  footer .footer2 {
    padding-bottom: 60px; }
    footer .footer2 p {
      color: #909090;
      font-size: 15px; }
  footer .copyright {
    background: #86CCE8;
    min-height: 61px;
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .copyright p {
      margin-bottom: 0; }
  footer .grey {
    color:grey; 
    font-weight: 600
  }

  .ml-2 {
    margin-left: 2rem
  }


.one {
  position: relative;
  text-align: center;
}
.subtitle {
  padding-top: 5rem;
  font-weight: 100;
  font-size: 28px;
  margin-bottom: 2rem;
}
.icons {
  width: 190px;
  height: 170px;
  position: absolute;
  margin-top: 2rem;
}

.whatyouget {
  font-weight: 600;
  font-size: 27px;
  margin-bottom: 10rem;
  padding-top: 5rem
}

.title-content {
  display: block;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}
.dot {
  border-radius: 50%;
  width: 30px;
  text-align: center;
  height: 30px;
  background: grey;
  margin-left: 0.6rem;
  cursor: pointer;
  user-select: none;

}
.dot.active {
  background: black;
}

.background {
  height: 100%;
  width: 100%;
  max-height: 100%
}

.shadow-link {
  color: #C2C8CC;
  font-size: 13px;
}



@media screen and (min-width: 1881px ) {
  .subtitle {
    padding-top: 7rem;
  }
  h1 {
    font-size: 65px !important;
  }
}



 @media screen and (max-width: 1880px) {
  

  .subtitle {
    font-size: 20px !important;
  }
  h1 {
    font-size: 60px !important;
  }
} 

@media screen and (max-width: 1399px) {
  h1 {
    font-size: 70px !important
  }
  .subtitle {
    font-size: 30px !important
  }
  p {
    font-size: 17px
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 60px !important
  }
  .subtitle {
    font-size: 25px !important
  }
  p {
    font-size: 17px
  }
}

@media screen and (max-width: 1000px) {
  .subtitle {
    font-size: 19px !important;
  }
  h1 {
    font-size: 52px !important;
  }
  .whatyouget {
    font-size: 20px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .whatyouget {
    font-size: 24px;
  }
}

@media screen and (min-width: 981px) {
  .shadow-link {
    margin-left: 2rem
  }
}

@media screen and (max-width: 980px) {
  .whatyouget {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem

  }
  .mb-5 {
    margin-top: 2rem
  }
  .dots {
    display: none;
  }

  h1 {
    font-size: 42px !important
  }
  .subtitle {
    font-size: 17px !important;
    margin-bottom: 1rem;
    padding-top: 4rem
  }
  .text {
    margin-bottom: 2rem;
  }
  p {
    font-size: 16px !important;
  }
  .btn {
    font-size: 15px;
  }
  .slide ul {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 781px) {
  h1 {
    font-size: 35px !important;
    margin-bottom: 1rem;
  }
  .subtitle {
    font-size: 16px !important;
    margin-bottom: 1rem
  }
  .text {
    margin-bottom: 1rem;
  }
  p {
    font-size: 16px !important;
  }
  .header-logo {
    width: 170px
  }
  .btn {
    font-size: 10px
  }
}


@media screen and (max-width: 680px) {
  h1 {
    font-size: 35px !important;
  }
  .subtitle {
    font-size: 16px !important;
    padding-top: 7rem
  }
  .text {
    margin-bottom: 1rem;
  }
  .background {
    margin-top: 5rem
  }
  .container-one {
    top: 120px
  }
  p {
    width: 80%
  }

}

@media screen and (max-width: 600px) {
  .subtitle {
    padding-top: 2rem
  }
}


@media screen and (max-width: 499px) {

  .text {
    margin-bottom: 1rem;
  }
  .container-one {
    top: 120px
  }

  h1 {
    font-size: 25px !important
  }
  .background {
    margin-top: 5rem
  }
  .container-one {
    width: 65%
  }
  p {
    width: 100%
  }
  .desc {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .background {
    margin-top: 7rem
  }

}

@media screen and (max-width: 399px ) {
  .background {
    margin-top: 9rem;
  }
  h1 {
    position: relative;
    right: 10%
  }
  .subtitle-div {
    white-space: nowrap;
    position: relative;
    right: 13%
  }
}

@media screen and (max-width: 360px) {
  .subtitle-div {
    right: 0;
    white-space: normal;
  }
  .background {
    margin-top: 13rem
  }
  h1 {
    position: relative;
    right: 15%;
  }
}

@media screen  and (max-width: 330px) {
  h1 {
    font-size: 23px !important
  }
  
}


/* ////////////////// embla homepage slider//////////////////////*/

.embla__div {
  display: flex;
  justify-content: center;
}
.embla__content {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;
}
.embla {
  max-width: 316px;
  position: relative;
  padding: 20px;
  height: 10rem;
  width: 316px;
}

.embla__viewport {
  margin-left: auto;
  height: 100%;
  overflow: hidden;
  width: 50%;
  margin-right: auto;
  
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  height: 100%;
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  padding-left: 10px;
  margin-left: 7rem
}


.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 100%;
 
}

.embla__slide__inner:hover .journal_images{
  transform: scale(1.05);
  transition: transform .3s;
  filter:grayscale(0)
  
}

.embla__slide__inner:hover .journal_card_type{
  color: black;
  transition: color .5s;
  
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button__prev {
 
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #cccccc;
  padding: 0;
  left: 27px;
}

.embla__button__next {

  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #cccccc;
  padding: 0;
  right: 27px;
}
.embla__button__next:disabled {
  cursor: default;
  opacity: 0.3;
}
.embla__button__prev:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  height: 50px;
  margin-right: 3.8rem;
  align-items: flex-end;
}

.embla__dot {
  border-radius: 50%;
  width: 30px;
  text-align: center;
  height: 30px;
  background: grey;
  margin-left: 0.6rem;
  cursor: pointer;
  user-select: none;
}
.embla__dot > img:nth-child(1) {
  margin-right:1px
}
.embla__dot > img:nth-last-child(1) {
  margin-top: 2px
}

.embla__dot:after {
  background-color: #efefef;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
}

.embla__dot.is-selected {
  background: black;
  opacity: 1;
}

.info {
  position: absolute;
  opacity: 0;
}
.info.active {
  opacity: 1;
  transition: opacity .3s
}
.info > ul {
  list-style-type: decimal;
  height: 154px
}
.info > ul > li::marker {
  font-weight: bold;
}

.info.false {
  position: absolute;
  visibility: hidden;
}

.embla__list {
  display: none;
}

@media screen and (max-width: 770px) {
  .embla__list > ul {
    list-style-type: decimal;
    min-height: 209px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .embla__list > ul > li::marker {
    font-weight: bold;
  }
  .embla {
    width: 90%;
    height: 100%;
    max-width: 100%;
  }
  .embla__viewport {
    width: 90%
  }
  .embla__content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .embla__slide {
    min-width: 80%;
  }
  .embla__slide__inner > div:nth-child(1) {
    text-align: center;
    margin-bottom: 2rem
  }
  .embla__dots {
    display: none;
  }
  .embla__button__next {
    top: 15%
  }
  .embla__button__prev {
    top: 15%
  }
  .info {
    display: none;
  }
  .btn.btn-blue{
    font-size: 13px;
  }
  .embla__list {
    display: block !important;
  }
  .list-center {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .embla {
    width: 100%
  }
  .embla__viewport {
    width: 100%
  }
  .embla__slide {
    min-width: 100%
  }
  .embla__div {
    margin-left: 12px
  }
  .contact-column-1 {
    text-align: center;
  }
  .contact-column-2 {
    text-align: center;
  }
  .contacts_icon {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .embla__list > ul {
    min-height: 240px
  }
}










/*
///////// Slider css ////////
.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 45%;
  margin-bottom: 1rem;
  height: 165px
  
}
.image {
  width: 80px;
  height: 80px;
}
.arrow {
  border: solid #cccccc;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);

  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;

}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  user-select: none;
  z-index: -1;

  
}

.slide.active {
 
  z-index: 1;
  opacity: 1;
  animation: fade_in_show 0.5s
}

@keyframes fade_in_show {
  0% {
       opacity: 0;
       transform: scale(0);
  }

  100% {
       opacity: 1;
       transform: scale(1);

  }
}

.slide ul {
  counter-reset: item;
  list-style-type: none;
  margin-bottom: 2rem;
  min-height: 182px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slide ul li::before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: bold;
}

.slider-div {
  max-width: 803px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  min-height: 292px
} */
